@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
body {
    margin: auto;
    max-width: 900px;
    padding: 1em;
}

button {
    font-size: 13px;
}

.captures span {
    border-radius: 50%;
    border: 1px solid black;
}

.black button:not([disabled]):hover::after,
button.black::after,
span.black {
    background-color: black;
}

.white button:not([disabled]):hover::after,
button.white::after,
span.white {
    background-color: white;
}

.captures {
    padding: 1em calc(100% / 18);
    display: flex;
}

.captures div {
    flex-basis: 50%;
}

.captures div:last-child {
    text-align: right;
}

.captures span {
    display: inline-block;
    width: 20px;
    height: 20px;
}
